
body {
    font-family: Verdana, Sans-Serif;
    font-size: 30pt;
}

.device {
    border: 2px solid green;
    padding: 2px;
}

.title {
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 6px;
}

.buttons {
    padding: 2px;
}

.buttons input {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    font-size: 22pt;
}

.buttons .value {
    width: 100px;
}
