# Binaries for programs and plugins
*.deb

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.conf
*.swp
.idea

dimmyd.conf.yaml
go.sum
html/assets/jquery.js
dimmy
dimmyd
deb/
.version

