[Livingroom]
    type = light
    topic = cmnd/livingroom/lamp/dimmer

[Bathroom]
    type = light
    topic = cmnd/bathroom/lamp/dimmer

[MotionSensor-Livingroom]
    type = sensor
    hidden = true
    topic = tele/motion/sensor-livingroom/RESULT
    target = Livingroom
    TargetOnDuration = 3
    TargetOffDuration = 420
    Timeout = 420

