
.rule-triggers {
    background-color: #F6E785;
}

.rule-trigger {
}

.trigger-emoji, .receiver-emoji {
    float: left;
    text-align: left;
    padding-right: 5px;
}

.rule-receivers {
    background-color: #67D0DD;
    padding-right: 30px;
}

.receiver-label, .trigger-label {
    padding-left: 10px;
    font-size: 14pt;
}

.receiver-value, .trigger-value {
    padding-left: 70px;
    font-size: 10pt;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    width: 300px;
    display: table-cell;
    margin-bottom: 20px;
    border-bottom: 6px solid #FFF;
}