
.rule-triggers {
    background-color: #F6E785;
}

.rule-trigger {
}

.trigger-emoji, .receiver-emoji {
    float: left;
    text-align: left;
    position: absolute;
}

.rule-receivers {
    background-color: #67D0DD;
}

.receiver-label, .trigger-label {
    padding-left: 50px;
    font-size: 14pt;
}

.receiver-value, .trigger-value {
    font-size: 10pt;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 60px;
    width: 240px;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    width: 300px;
    display: table-cell;
    border-bottom: 6px solid #FFF;
}