<html>
    <head>
        <title>
            Dimmy Dashboard
        </title>
        <link rel='stylesheet' type='text/css' href='/assets/dashboard.css' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src='/assets/jquery.js'></script>
        <script>
        $(document).ready(function() {
            setInterval(function () {
                $.get('/api/status', null, function(data, status, jqXHR) {
                     for (name in data) {
                        if (data[name].Type === 'plug') {
                            $("#value_" + name).text(data[name].value ? "on" : "off");
                        } else if (data[name].Type === 'temperature') {
                            $("#value_" + name).text(Math.round(data[name].value*10)/10);
                            if (data[name].Humidity !== 0) {
                                $("#humidity_" + name).text(Math.round(data[name].Humidity));
                            }
                        } else {
                            $("#value_" + name).text(Math.round(data[name].value) + '%');
                        }
                    }
                }, "json");
            }, 1000);
        });

        function switchDevice(device, value) {
            var data = {
                device: device,
                value: value.toString(),
                duration: 1,
            };
            $.post('/api/switch', JSON.stringify(data), null, 'json');
        }

        </script>
    </head>
    <body>
        {{ range .Panels }}
        <div class='device'>
            <div class='title'>
                {{ .GetLabel }}
            </div>
            {{ range .GetDevices }}
            <div class="panel panel-{{ .GetType }} buttons">

                {{ if eq .GetType "temperature" }}
                    <span class="left value wide">
                        🌡<span id='value_{{ .Name }}'>{{ .GetCurrent }}</span> °C
                    </span>
                    {{ if .HasHumidity }}
                        <span class="right value wide">
                            &nbsp; 💧 <span id="humidity_{{ .Name }}">{{ .GetHumidity }}</span>%
                        </span>
                    {{ end }}
                    <br/>
                {{ end }}

                {{ if eq .GetType "plug" }}
                    <span class="left emoji">{{ .Emoji }}</span>
                    <a class='left' tabindex="-1" onClick="switchDevice('{{ .GetName }}', 0);">off</a>
                    <span class='value wide' id='value_{{ .GetName }}'></span>
                    <a class='right' tabindex="-1" onClick="switchDevice('{{ .GetName }}', 100);">on</a>
                {{ end }}

                {{ if eq .GetType "light" }}
                    <span class="left emoji">{{ .Emoji }}</span>
                    <a class='left' tabindex="-1" onClick="switchDevice('{{ .GetName }}', 0);">off</a>
                    <a class='left' tabindex="-1" onClick="switchDevice('{{ .GetName }}', parseInt($('#value_{{.GetName}}').text()) - 10);">-</a>
                    <span class='value narrow' id='value_{{ .GetName }}'></span>
                    <a class='right' tabindex="-1" onClick="switchDevice('{{ .GetName }}', 100);">on</a>
                    <a class='right' tabindex="-1" onClick="switchDevice('{{ .GetName }}', parseInt($('#value_{{.GetName}}').text()) + 10);">+</a>
                    <br/>
                {{ end }}

                {{ if eq .GetType "IRControl" }}
                    <span class="left emoji">{{ .Emoji }}</span>
                    {{ $name := .GetName }}
                    {{ range $cmd := .GetCommands }}
                        <a class='textbutton' tabindex="-1" onClick="switchDevice('{{ $name }}', '{{ $cmd }}');">{{ $cmd }}</a>
                    {{ end }}
                    <br/>
                {{ end }}
            </div>
            {{ end }}
        </div>
        {{ end }}
    </body>
</html>
