<html>
    <head>
        <title>
            Dimmy Dashboard
        </title>
        <link rel='stylesheet' type='text/css' href='/assets/dashboard.css?4' />
        <script src='/assets/jquery.js'></script>
        <script>
        $(document).ready(function() {
            setInterval(function () {
                $.get('/api/status', null, function(data, status, jqXHR) {
                     for (name in data) {
                        if (data[name].Type === 'plug') {
                            $("#value_" + name).text(data[name].value ? "on" : "off");
                        } else if (data[name].Type === 'thermostat') {
                            $("#value_" + name).text(Math.round(data[name].value*10)/10 + "");
                            if (data[name].TargetTemperature === 0) {
                                $("#target_" + name).addClass('hidden');
                                $("#separator" + name).addClass('hidden');
                            } else {
                                $("#target_" + name).removeClass('hidden');
                                $("#separator" + name).removeClass('hidden');
                            }
                            $("#target_" + name).text(Math.round(data[name].TargetTemperature));
                        } else if (data[name].Type === 'temperature') {
                            $("#value_" + name).text(Math.round(data[name].value*10)/10);
                            if (data[name].Humidity != 0) {
                                $("#humidity_" + name).text(Math.round(data[name].Humidity));
                            }
                        } else {
                            $("#value_" + name).text(Math.round(data[name].value) + '%');
                        }
                    }
                }, "json");
            }, 1000);
        });

        function switchDevice(device, value) {
            var data = {
                device: device,
                value: value,
                duration: 1,
            };
            $.post('/api/switch', JSON.stringify(data), null, 'json');
        }

        function thermostatOffset(current, target) {
            if (target == 0) {
                return Math.round(current);
            }
            return target;
        }
        </script>
    </head>
    <body>
        {{ range .Panels }}
        <div class='device'>
            <div class='title'>
                {{ .GetLabel }}
            </div>
            {{ range .GetDevices }}
            <div class="panel panel-{{ .GetType }} buttons">

                {{ if eq .GetType "temperature" }}
                    <span class="left value wide">
                        🌡<span id='value_{{ .Name }}'>{{ .GetCurrent }}</span> °C
                    </span>
                    {{ if .HasHumidity }}
                        <span class="right value wide">
                            &nbsp; 💧 <span id="humidity_{{ .Name }}">{{ .GetHumidity }}</span>%
                        </span>
                    {{ end }}
                    <br/>
                {{ end }}

                {{ if eq .GetType "plug" }}
                    <span class="left emoji">{{ .Emoji }}</span>
                    <a class='left' onClick="switchDevice('{{ .GetName }}', 0);">off</a>
                    <span class='value wide' id='value_{{ .GetName }}'></span>
                    <a class='right' onClick="switchDevice('{{ .GetName }}', 100);">on</a>
                {{ end }}

                {{ if eq .GetType "light" }}
                    <span class="left emoji">{{ .Emoji }}</span>
                    <a class='left' onClick="switchDevice('{{ .GetName }}', 0);">off</a>
                    <a class='left' onClick="switchDevice('{{ .GetName }}', parseInt($('#value_{{.GetName}}').text()) - 10);">-</a>
                    <span class='value narrow' id='value_{{ .GetName }}'></span>
                    <a class='right' onClick="switchDevice('{{ .GetName }}', 100);">on</a>
                    <a class='right' onClick="switchDevice('{{ .GetName }}', parseInt($('#value_{{.GetName}}').text()) + 10);">+</a>
                    <br/>
                {{ end }}
            </div>
            {{ end }}
        </div>
        {{ end }}
        {{ range $name, $device := .Devices }}
            {{ if not $device.Hidden }}
            <div class='device'>
                <div class='title'>
                    {{ $device.Label }}
                </div>
                <div class='buttons'>

                    {{ if eq $device.Type "plug" }}
                        <a class='left' onClick="switchDevice('{{ $name }}', 0);">off</a>
                        <span class='value' id='value_{{ $name }}'></span>
                        <a class='right' onClick="switchDevice('{{ $name }}', 100);">on</a>
                    {{ end }}

                    {{ if (or (eq $device.Type "light") (eq $device.Type "sensor") (eq $device.Type "zlight") (eq $device.Type "group")) }}
                        <a class='left' onClick="switchDevice('{{ $name }}', 0);">off</a>
                        <a class='left' onClick="switchDevice('{{ $name }}', parseInt($('#value_{{$name}}').text()) - 10);">-</a>
                        <span class='value' id='value_{{ $name }}'></span>
                        <a class='right' onClick="switchDevice('{{ $name }}', 100);">on</a>
                        <a class='right' onClick="switchDevice('{{ $name }}', parseInt($('#value_{{$name}}').text()) + 10);">+</a>
                    {{ end }}

                    {{ if eq $device.Type "temperature" }}
                        <span class='value'>
                            <span id='value_{{ $name }}'></span> °C
                        </span>
                    {{ end }}

                    {{ if eq $device.Type "thermostat" }}
                        <a class='left' onClick="switchDevice('{{ $name }}', parseInt($('#target_{{$name}}').text()) - 1);">-</a>
                        <span class='value'>
                            <span id='value_{{ $name }}'></span><span id="separator_{{ $name }}">/</span><span id='target_{{ $name }}'></span>
                        </span>
                        <a class='right' onClick="switchDevice('{{ $name }}', parseInt($('#target_{{$name}}').text()) + 1);">+</a>
                    {{ end }}

                </div>
            </div>
            {{ end }}
        {{ end }}
    </body>
</html>
